footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .container {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #fdd835;
  }